
<form action="/landmarks/new" method="post">
  <label for="landmark_name">Name:</label>
  <input id="landmark_name" type="text" name="name">

  <label for="landmark_year_completed">Year Completed:</label>
  <input id="landmark_year_completed" type="text" name="year_completed">

  <input type="submit" value="Submit">

</form>
